@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: vaziri;
  src: url("assets/font/Vazir-Medium-FD-WOL.ttf");
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  user-select: none;
  font-family: vaziri,cursive;
}